body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.alignment {
  padding-left: 256px;
  padding-right: 256px;
}

.dark-background {
  background-color: #1F2937;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-link, .description {
  font-size: 18px;
  color: #e5e7eb;
}

.links-container {
  display: flex;
  gap: 24px;
}

.links-container a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* hero */

.hero {
  display: flex;
  gap: 144px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.text {
  flex: 1;
}

.img-container {
  display: flex;
  flex: 1;
  background-color: grey;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
}

.cta-button {
  padding: 8px 32px;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.primary {
  background-color: #3882f6;
}

.secondary {
  border: 1px solid white;
}

/* random info */

.random-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 32px;
  padding-bottom: 144px;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.illustrations {
  display: flex;
  gap: 64px;
  padding-left: 64px;
  padding-right: 64px;
  text-align: center;
}

.illustration-container {
  display: flex;
  flex-direction: column;
}

.illustration {
  border: 3px solid #3882f6;
  border-radius: 12px;
  width: 100%;
  min-height: 184px;
}

/* quote */

.quote {
  background-color: #e5e7eb;
  padding: 96px 360px;
}

.quote .description {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
}

.author {
  font-weight: 700;
  font-size: 20px;
  text-align: end;
  padding-right: 32px;
}

/* cta */

.cta-container {
  background-color: #3882f6;
  padding: 56px 144px;
  margin: 144px 0;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-container .description {
  display: flex;
  flex-direction: column;
}

.cta-container a {
  text-decoration: none;
}

h3 {
  font-size: 24px;
  margin: 0;
}

.cta-container .description p {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}