body {
  margin: 0;
  padding: 0;
}

.dark-background {
  background-color: #1F2937;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
}