body {
  width: 100%;
  max-width: 1068px;
  margin: 0 auto;
  padding: 72px 0;
  background-color: #FAFAFA;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h1, h2 {
  margin: 20px 0;
}

.recipe-img {
  width: 560px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 24px;
}

.content-section {
  padding: 16px 0;
}

ul li {
  padding: 12px 0;
}

ul li::marker {
  color: lightgray;
}

ol li {
  margin-bottom: 16px;
  padding: 8px;
}